extends layout
block content

      #main.cf
        aside#sidebar
          ul            
            li.block
              h4.heading ABOUT
              .small-posts-list
                .feature-image
                  img.about(src='img/pic2.jpg', alt='')
                p
                  | I am Dr. Mitch Baker. You are welcome! 
                  br
                  |  I specifically want to share information and give advice from what I have learned through teaching, research projects, residencies, workshops and life.
                  br
                  |             I'd like to hear from you and help answer your questions. Please write me at 
                  strong mail@pr675m.com