extends layout
block content

      #main.cf
        #posts-list.cf
          article.cf
            .feature-image
              a(href='/')
                img(src='img/pic1.jpg', alt='img', width='40%')
            .entry-title
              .meta Jan 23 by Mitch Baker
              h2 Derma ProMedics
            .excerpt
              p
                | Derma ProMedics is an anti-aging skincare serum based on the mix of vitamins and moisturizing agents to rejuvenate skin tone, boost collagen production, lighten dark circles, and reduce eye puffiness. In fact, the product is claimed to be better than Botox, according to the company. The latter is not reputable, though, so they should not be trusted completely. They even claim that their serum has been clinically proven to decrease surface wrinkles by 44.9%, wrinkle density by 37%, and wrinkle volume by 18.5%. This is said to be possible without injections, surgery, or other painful procedures.
              p
                | But what differentiates Derma ProMedics from dozens of other more popular anti-aging products? Is there any better competition? Is it worth the money it costs? We will try to answer these questions further in this review. At present, it is important to mention that the Derma ProMedics official website is identical to that of other products. It has a poor design and does not provide a lot of details about the product. As a rule, consumers call these types of products scams, as the companies behind them try to steal their money and give nothing in return. To understand whether Derma ProMedics is the same, let's start by talking about its ingredients.
              p
                b Does It Have Any Side Effects?
              p
                | As you can see from the previous section of this review, the formula contains both effective ingredients and harmful additives. 
          
          
        
