doctype html
html
  head
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='css/responsive.css')
  body
    .wrapper
      header.cf
        #logo
          a(href='/')
            img(src='img/logo.png', alt='img')
      nav.cf
        ul#nav.sf-menu
          li
            a(href='/') HOME
          li
            a(href='/about') About
          li
            a(href='/contact') Contact
      .container
            .main-content
                block content                      
      ul.widget-cols.cf        
      .footer-divider
      footer.cf Copyright © 2014 pr675m.com | Email: mail@pr675m.com
