<%- include layouts/header.ejs %>
<form method="POST" action="/customers/add" class="col-md-4">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="exampleInputEmail" placeholder="Name" type="text" name="name" required>
    </div>
    <div class="form-group">
            <label for="name">Address</label>
            <textarea class="form-control" row="3" name="address" required cols="30"></textarea>
    </div>
    <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="email" name="email" required>
    </div>
    <div class="form-group">
            <label for="exampleInputEmail">Phone</label>
            <input type="text" class="form-control" id="exampleInputEmail" placeholder="phone" name="phone" required>
    </div>
    <button type="submit" class="btn btn-default" name="submit" value="Save">Add</button>
    <button type="cancel" class="btn btn-default" name="cancel" value="Cancel" onclick="window.location.href = '/customers';">Cancel</button>
</form>
<%- include layouts/footer.ejs %>