body {
  font-family: 'Arvo', serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #6b3b25;
  background: url(../img/bg.png);
}
.wrapper {
  width: 1000px;
  margin: 30px auto 80px auto;
  background: #dedad3;  
}

h2 {
  font-size: 30px;
  padding-left: 2em;
}

header {
  background: url(../img/header.png);
  min-height: 155px;
}
header #logo {
  margin-top: 42px;
  margin-bottom: 20px;
  float: left;
}
header #logo:hover {
  opacity: 0.8;
}
header #logo img {
  display: block;
  margin: 0 0 0 30px;
}
nav {
  background: url(../img/nav.png) no-repeat top center;
  height: 65px;
  width: 1038px;
  margin-left: -20px;
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 700;
}
nav #nav {
  display: block;
  margin-left: 35px;  
}
nav #nav > li {
  display: block;
  float: left;  
}
nav #nav > li > a {
  display: block;
  line-height: 65px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  color: #dedad3;
  text-shadow: 0px 2px 0px #c68301;
}
#main {
 
  position: relative;
  border-top: 5px solid #c6c2bc;
}
#posts-list {
  position: relative;
  width: 95%;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 40px;
  float: left; 
}
#posts-list article .feature-image img {
  float: left;
  margin-right: 1em;
  max-width: 100%;  
}
#posts-list article .meta {
  color: #c78301;
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.5);
  font-family: 'Arvo', serif;
  font-size: 14px;
  margin-bottom: 14px;
}
#sidebar {
  position: relative;
  width: 95%;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  float: right;
}
#sidebar .block {
  font-size: 14px;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;  
  list-style: none;
}
#sidebar .block a {
  text-decoration: none;
  color: #c78301;
}
#sidebar .block a:hover {
  border-bottom: 1px dotted #c78301;
}
#sidebar .block .heading {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 48px;
  font-size: 18px;
  border-top: 4px solid #6b3b25;
  border-bottom: 1px solid #6b3b25;  
  margin-top: 0px;
}
#sidebar .ads img {
  margin-bottom: 10px;
  margin-right: 0px;
}

form {
  padding-left: 2em;
}
.footer-divider {
  background: #5a453b;
  border-top: 1px solid #644d42;
  border-bottom: 1px solid #523f35;
  height: 8px;
  width: 100%;
  clear: both;
}
footer {
  position: relative;
  text-align: center;
  padding: 30px 30px 30px 30px;
  font-size: 13px;
  color: #e09402;
  background: #62493d url(../img/footer.png) repeat-x center top;
  
}
footer:after {
  content: '';
  position: absolute;
  bottom: -46px;
  height: 46px;
  width: 100%;  
}
